body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #90CFFF;
    font-family: "Denk One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-menu {
    margin-top: 100px;
    text-align: center;
}

.game-header {
    color: white;
    font-size: 40px;
    padding: 40px;
    border-radius: 10px;
    background-image: url("images/background2.png");
    background-size: cover;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 30px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    font-family: "Denk One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: #CCFFCC;
}

.buttons a {
    text-decoration: none;
    color: inherit;
}

.how-to-play {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    color: white;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-left: 0;
    
}

li {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    
}

.main-menu-button1 {
    margin-top: 20px;
}

.level-1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.game-board {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    padding: 30px;
    border-radius: 20px;
    background-image: url("images/background.jpg");
    background-size: 100% 70%;
    background-position: center;
    background-attachment: fixed;
}

.target {
    position: absolute;
    bottom: 30px;
    left: 60%;
}

.current-score {
    position: absolute;
    bottom: 30px;
    left: 15%;
}

.buttons-level-1 {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.balloon {
    width: 80px;
    height: 90px;
    border-radius: 60% 60% 70% 70%;
    position: absolute;
    margin: 0 25%;
}

.balloon1 {
    top: 20%;
    left: 10%;
    background-image: url("images/balloonblue.png");
    background-size: cover;
}

.balloon2 {
    top: 20%;
    left: 20%;
    background-image: url("images/balloongreen.png");
    background-size: cover;
}

.balloon3 {
    top: 20%;
    left: 30%;
    background-image: url("images/balloonorange.png");
    background-size: cover;
}

.balloon4 {
    top: 20%;
    left: 40%;
    background-image: url("images/balloonpink.png");
    background-size: cover;
}

.balloon5 {
    top: 30%;
    left: 10%;
    background-image: url("images/balloonpurple.png");
    background-size: cover;
}

.balloon6 {
    top: 30%;
    left: 20%;
    background-image: url("images/balloonred.png");
    background-size: cover;
}

.balloon7 {
    top: 30%;
    left: 30%;
    background-image: url("images/balloonyellow.png");
    background-size: cover;
}

.balloon8 {
    top: 30%;
    left: 40%;
    background-image: url("images/balloonblue.png");
    background-size: cover;

}

.balloon9 {
    top: 40%;
    left: 10%;
    background-image: url("images/balloonorange.png");
    background-size: cover;
}

.balloon10 {
    top: 40%;
    left: 20%;
    background-image: url("images/balloonpink.png");
    background-size: cover;
}

.balloon11 {
    top: 40%;
    left: 30%;
    background-image: url("images/balloongreen.png");
    background-size: cover;
}

.balloon12 {
    top: 40%;
    left: 40%;
    background-image: url("images/balloonpurple.png");
    background-size: cover;
}

#monkey {
    width: 150px;
    height: 150px;
    background-image: url("images/monkey.png");
    background-size: cover;
    border-radius: 50%;
    top: 580px;
    left: 200px;
    position: absolute;
    cursor: pointer;
}

#dart {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 510px;
    left: 380px;
    cursor: pointer;
    visibility: hidden;
    background-image: url("images/dart.png");
    background-size: cover;
}

#trajectoryPreview {
    position: absolute;
    background-color: #83BCFD;
    width: 1px;
    height: 100px;
    transform-origin: top left;
    display: none;
}

/* pseudo-elements to represent the arrowheads */
#trajectoryPreview::before,
#trajectoryPreview::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #83BCFD transparent;
    transform: rotate(180deg);
}

.high-scores {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    color: white;
}